html{
    font-family: sans-serif;
    margin: 0px;
}
body{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    color: black;
    margin: 1em;
    box-sizing: border-box;
    padding: 6px;
    height: 60px;
    font-size: 13px;
}

header a:link{
    color:black;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
header a:visited{
    color: black;
}

main{
    width: 50%;
    margin-left: 25%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    position: fixed;
    bottom:0;
    width: 100%;
    margin:0;
    padding: 12px;
    background-color: lightgray;
}

.footer-nav{
    display: flex;
}
.footer-nav a:visited{
    color:black;
}

.header-item{
    padding: 1em;
    align-self: end;
}

.logo{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    max-height: 290px;
    min-height: 92px;
    height:calc(100% -560px);
}
.logo-offset{
    margin-top: auto;
}
#logo-img{
    height: 92px;
    width:auto;
}
.search-area{
    width: 100%;
}

.search-bar-section{
    width: auto;
}
#search-bar{
    width:100%;
    border-radius: 50px;
}

.search-buttons{
    display: flex;
    justify-content: space-around;
}

.search-button{
    border:0;
    box-shadow: transparent;
    border-radius: 4px;
    cursor:pointer;
    
}

.header-right{
    margin-left: auto;
}

.sign-in-button{
    background-color: var(--button-color);
    padding:0 12px;
    --button-color: #4285f4;
    line-height: 28px;
    font-weight: bold;
    
    color: white;
    border-radius: 2px;
    border-color: var(--button-color);
    box-shadow: transparent;
}